@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to right,
    #1fa2ff,
    #12d8fa,
    #a6ffcb
  ); /* Purple to Blue */
  min-height: 100vh;
}
